body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(228, 8, 8);
    color: rgb(185, 24, 24);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
}

nav a {
    color:  black;
    text-decoration: none;
    margin-right: 20px;
}

.header-right a {
    color: rgb(14, 12, 12);
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
}

.form-box h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: red;
    color: rgb(231, 46, 46);
    border: none;
    cursor: pointer;
}

.social-buttons {
    display: flex;
    justify-content: center;
}

.social-buttons button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.social-buttons img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
